<div class="header">
    <div class="header_logo">
        <img src="./assets/images/Meubel House_Logos-05.webp">
        <div class="logo_text">
            Furniro
        </div>
    </div>
    <div class="header_menu">
        <div class="menu_home">
            Home
        </div>
        <div class="menu_shop">
            Shop
        </div>
        <div class="menu_about">
            About
        </div>
        <div class="menu_contact">
            Contact
        </div>
    </div>
    <div class="header_foto">
        <img src="./assets/images/head1.webp" class="img_icon">
        <img src="./assets/images/head2.webp" class="img_icon">
        <img src="./assets/images/head3.webp" class="img_icon" >
        <img src="./assets/images/head4.webp" class="img_icon" >
    </div>
</div>
