// ==== 1. Utils ====
@use 'utils/variables';

// ==== 2. Base styles ====
@use 'base/reset';
@use 'base/typography';
@use 'base/layout';

// ==== 3. Layout ====
@use 'layout/container';

// ==== 4. Components ====
@use 'components/header';
@use 'components/button';
@use 'components/kartochka';
@use 'components/footer';
body {
  background-color: var(--main-color);
  margin-left: auto;
  margin-right: auto;
  font-family: "Poppins", "sans-serif";
}

